# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
node_modules/
jspm_packages/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

## Build
dist/
 
# List of TODOs
TODO.md

# Notes
Notes.md